--- MICRO-CT IMAGE PARAMETERS
-- 'DIR_PATH' 	== absolute path to folder with images
-- 'FILENAME' == regular prefix of image files  
-- 'FIRST_IDX' == index of first image (image files must be continuously enumerated, e.g, 'image00', 'image01', 'image02' etc) 
-- 'DIGITS' == number of numeric digits in file name (e.g., file = image01 -> digits = 2; file = image0120 -> digits = 4)
-- 'EXTENSION' == image format extension (obs: binary image must be preprocessed so that the porous phase is assigned as 0)
-- 'SLICES' == number of images
-- 'RESOLUTION' == image resolution 
-- 'VOXEL_DIVISION' == number of subdivision in random walk grid-mesh refinement
-- 'IMG_FILE_LIST' == alternative mode: absolute path to a file that lists all the image file names
DIR_PATH: /home/lablcc/Documents/matheus/image-rev/revs/segmentacoes/sandstones//
FILENAME: rev_KI2_WEKA3_rm=center_rs=1/imgs/rev_KI_WEKA3_
FIRST_IDX: 0
DIGITS: 3
EXTENSION: .png
SLICES: 600
RESOLUTION: 1.0
VOXEL_DIVISION: 2
PORE_COLOR: 29
